

  <div	class="card-content">
    <div	class="card-img">
            <img	src="https://okdiario.com/img/2018/05/28/herramientas-655x368.jpg"	alt="">
            <span><h4>{{herrmientas.nombre}}</h4></span>
    </div>
    <div	class="card-desc">
            <h3>{{herramientas.nombre}}</h3>
            <p>Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolor
quo,	perspiciatis
                    voluptas	totam</p>
                    <a	href="#"	class="btn-card">Read</a>
    </div>
</div>
